/* The whole body */

body {
    background-color: #000000;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Headers */

.main--header {
font-weight: normal;
font-size: 50px;
color: white;
};
.secondary--header {
font-weight: 300;
font-size: 42px;
color: white;
}
.sub--header {
font-size: 21px;
color: gray;
}

/* Links */

.link--cta {
    font-size: 16px;
    color:aquamarine;
}

/* Footer */

.copyright--footer {
    font-size: 21px;
    color: grey;
    text-align: right;
}